.body{
    margin: 0;
}


.header-row{
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 100px auto 50px;
    grid-template-columns: auto 250px;
    gap: 50px;
}
button.text-btn{
    border: none;
    background-color: white;
}
.text-clk{
    color: black;
    text-decoration: none;
    margin: 10px;

}

.header-btn{
    background-color: #1a73e8;
    color: white;
    min-width: 80px;
    padding: 9px 15px;
    border: none;
    cursor: pointer;
}

.mainbody{
    grid-column-start: 1;
    grid-column-end: span 2;
    justify-self: center;
}

img{
    display: block;
    margin: 10px;
}
.text-field{
    width: 500px;
    height: 35px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    grid-column-start: 1;
    grid-column-end: span 2;
    justify-self: center;
}
.text-field :hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.text-field:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }